.wrapper{
  // background-color: rgb(62, 168, 119);
  // height: 100%;
  display: flex;
  flex-direction: row;
}
.editPost{
  margin-right: 20px;
  margin-left: 20px;
}
.editPost input{
  margin-bottom: 15px;
}

.button {
  background-color: rgb(60, 189, 114);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.error{
  border: 1px solid red;
}
.editPost p{
  color: red;
}
