<div class="wrapper">

  <div class="header">
    <ul>
      <li id="text"><h3>CRM System</h3></li>
      <li id="logout"><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>


  <div class="content">

    <div class="sidebar">
      <div class="sidenav">
        <a routerLink="/user">Home</a>
        <a routerLink="/overview">Overview</a>
        <a routerLink="/posts">Posts</a>
      </div>
    </div>

    <div class="router">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

